/* Email field disabled style */
input.bg-gray-100 {
  cursor: not-allowed;
  opacity: 0.6;
}

/* PrimeNG Password width fix */
:host ::ng-deep .p-password {
  width: 100%;
}

:host ::ng-deep .p-password input {
  width: 100%;
}
